.logo {
    display: flex;
    justify-content: center;
}

#menu ul {
    background: white;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    
    margin-top: 15px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    
}

#menu li {
    color: white;
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}
#menu li span{
    font-size: 30px;
    font-family:arial;
    color: brown;

}

#menu a {
    text-decoration: none;
    color: blue;
    display: block;
}

#menu a:hover {
    background: #1F568B;
    color: white;
}
.container{
    display: flex;
    justify-content:center;
}
.container1{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 20px;
    color: brown;
}
h2{
    font-size: 30px;
    color: blue;
    text-shadow:#1F568B blue;
}

.homepic{
    margin-left: 50%;
    transform: translateX(-1050px);
    position: absolute;
    width: 500px;
    
}    
.footer {
    text-align: center;
}
div h1 {
    text-align: center;
    
    padding: 10px 0;
    
}

.main-area {
    display: flex;
    justify-content: center;
}



.form-label {
    width: 200px;
}

input[type="text"] {
    width: 300px;
    border: 1px solid red;
    color: blue;
    margin-right: 5px;
}

td[colspan="2"] {
    text-align: center;
}
tr {
    height: 30px;
}
input:required {
    border: solid red;
}

input:required:invalid {
    border: solid red;
    color: red
}

input:required:valid {
    color: green;
    border: solid green;
}

    


    

